# .github/workflows/security.yml
name: Security Scan

on: [push]

jobs:
  codeql:
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Required to upload results to GitHub Security tab

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: python # Specify the language to scan

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
